@tailwind base;
@tailwind components;
@tailwind utilities;

/* main {
  position: relative;
  z-index: 2;
  background: #f56469;
  height: 1500px;
  margin-bottom: 350px;
  box-shadow: 3px 2px 2px 0px rgba(51, 51, 51, 0.5);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 350px;
  padding-left: 50px;
  background: #4b466f;
  font-size: 100px;
  color: #f56469;
} */
